<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="kobby" version="1">

<MenuBar>
	<Menu name="file" noMerge="1"><text>&amp;File</text>
		<Menu name="file_new"><text>New</text>
			<Action name="file_new_document" />
			<Action name="file_new_connection" />
		</Menu>
		<Merge/>
	</Menu>

	<Merge/>
	
	<Menu name="settings"><text>&amp;Settings</text>
		<Action name="settings_kobby" />
		<Merge/>
	</Menu>
</MenuBar>

</kpartgui>
