<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="kobby" version="1">

<MenuBar>
	<Menu name="file" noMerge="1"><text>&amp;File</text>
		<Action name="new_connection" />
		<Action name="new_document" />
		<Separator />
		<Merge/>
	</Menu>
	<Merge/>
	<Menu name="settings"><text>&amp;Settings</text>
		<Action name="settings_kobby" />
		<Merge/>
	</Menu>
</MenuBar>

<ToolBar noMerge="1" name="mainToolBar"><text>Main Toolbar</text>
	<Action name="new_document" />
</ToolBar>

</kpartgui>
