<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<gui name="ktexteditor_kobbyui" library="ktexteditor_kobby" version="4">

<Menu name="ktexteditor_popup">
  <Action name="kobby_disconnect" group="popup_operations"/>
</Menu>

</gui>
