[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KTpApprover

Name=KTE Collaborative
Name[hu]=KTE együttműködés
Name[nl]=KTE samenwerking
Name[pt]=KTE Collaborative
Name[pt_BR]=KTE Collaborative
Name[sk]=KTE Collaborative
Name[sv]=KTE-samredigering
Name[uk]=Співпраця у KTE
Name[x-test]=xxKTE Collaborativexx
Icon=kate
Comment=User %1 wants to collaborate on a document with you
Comment[hu]=A(z) %1 felhasználó szeretne együttműködni egy dokumentumon Önnel
Comment[nl]=Gebruiker %1 wil met u samenwerken aan een document
Comment[pt]=O utilizador %1 deseja colaborar consigo num documento
Comment[pt_BR]=O usuário %1 quer colaborar com você em um documento
Comment[sk]=Používateľ %1 chce spolupracovať na dokumente s vami
Comment[sv]=Användare %1 vill samredigera ett dokument med dig
Comment[uk]=Користувач %1 хоче спільно з вами попрацювати над документом
Comment[x-test]=xxUser %1 wants to collaborate on a document with youxx

X-KTp-ChannelType=org.freedesktop.Telepathy.Channel.Type.StreamTube
X-KTp-Service=infinote
X-KTp-Cancellable=true
