[Desktop Entry]
Type=Service
Name=Infinote Notifier
Comment=Notifier service for the infinote collaborative editing protocol
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=infinotenotifier
X-KDE-DBus-ModuleName=infinotenotifier
X-KDE-Kded-autoload=false
X-KDE-Kded-load-on-demand=true
