<!DOCTYPE kpartgui>
<kpartplugin name="ktexteditor_kobby" library="ktexteditor_kobby" version="1">
<MenuBar>
	<Menu name="tools"><Text>&amp;Tools</Text>
		<Action name="kobby_config" />
	</Menu>
</MenuBar>
</kpartplugin>
