<!DOCTYPE kpartgui>
<kpartplugin name="ktexteditor_kobby" library="ktexteditor_kobby" version="1">
<MenuBar>
	<Menu name="sessions"><Text>Sess&amp;ions</Text>
		<Action name="sessions_kobby_manage" />
	</Menu>
</MenuBar>
</kpartplugin>
