[Desktop Entry]
Type=Service
Comment=Collaborative editing plugin for KTextEditor, based on the infinity protocol
Comment[hu]=Együttműködő szerkesztés bővítmény a KTextEditorhoz az infinity protokollon alapulva
Comment[nl]=Gezamenlijk bewerken plug-in voor KTextEditor, gebaseerd op het infinity protocol protocol
Comment[pl]=Wtyczka kolaboracyjnego edytowania dla KTextEditor, opart o protokół infinity
Comment[pt]='Plugin' de edição colaborativa para o KTextEditor, baseado no protocolo 'infinity'
Comment[pt_BR]=Plugin de edição colaborativa para o KTextEditor baseado no protocolo infinity
Comment[sk]=Plugin na spoločné editovanie pre KTextEditor, založený na protokole infinity
Comment[sv]=Insticksprogram till Ktexteditor för samredigering, baserad på protokollet Infinity
Comment[uk]=Додаток спільного редагування до KTextEditor, заснований на протоколі infinity
Comment[x-test]=xxCollaborative editing plugin for KTextEditor, based on the infinity protocolxx
Name=Collaborative text editing
Name[hu]=Együttműködő szövegszerkesztés
Name[nl]=Gezamenlijk tekstbewerken
Name[pt]=Edição de texto colaborativa
Name[pt_BR]=Edição de texto colaborativa
Name[sv]=Samredigering av text
Name[uk]=Спільне редагування текстів
Name[x-test]=xxCollaborative text editingxx
GenericName=Collaborative text editing
GenericName[hu]=Együttműködő szövegszerkesztés
GenericName[nl]=Gezamenlijk tekstbewerken
GenericName[pt]=Edição de texto colaborativa
GenericName[pt_BR]=Edição de texto colaborativa
GenericName[sv]=Samredigering av text
GenericName[uk]=Спільне редагування текстів
GenericName[x-test]=xxCollaborative text editingxx
Icon=document-share
ServiceTypes=KTextEditor/Plugin
X-KDE-ServiceTypes=KTextEditor/Plugin
X-KDE-Library=ktexteditor_kobby
X-KDE-PluginKeyword=ktexteditor_kobby
X-KDE-PluginInfo-Name=ktexteditor_kobby
X-KDE-PluginInfo-Author=Sven Brauch
X-KDE-PluginInfo-Email=svenbrauch@gmail.com
X-KDE-PluginInfo-Website=kate.org
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=GPL_V2
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Category=Editor
X-KDE-ParentApp=kate
X-KDE-Version=4.0
X-KDE-PluginInfo-EnabledByDefault=true
