[Desktop Entry]
Type=Service
Comment=Collaborative editing plugin for KTextEditor, based on the infinity protocol
Name=Collaborative text editing
GenericName=Collaborative text editing
Icon=document-share
ServiceTypes=KTextEditor/Plugin
X-KDE-ServiceTypes=KTextEditor/Plugin
X-KDE-Library=ktexteditor_collaborative
X-KDE-PluginKeyword=ktexteditor_collaborative
X-KDE-PluginInfo-Name=ktexteditor_collaborative
X-KDE-PluginInfo-Author=Sven Brauch
X-KDE-PluginInfo-Email=svenbrauch@gmail.com
X-KDE-PluginInfo-Website=kate.org
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=GPL_V2
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Category=Editor
X-KDE-ParentApp=kate
X-KDE-Version=4.0
X-KDE-PluginInfo-EnabledByDefault=true
