<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<gui name="ktexteditor_kobbyui" library="ktexteditor_kobby" version="6">

<MenuBar>
  <Menu name="collaborative"><text>&amp;Collaborative</text>
    <Action name="kobby_open"/>
    <Action name="kobby_save_copy"/>
    <Action name="kobby_share_with_contact"/>
    <Action name="kobby_change_user_name"/>
    <Action name="kobby_disconnect"/>
    <Action name="kobby_create_server"/>
    <Action name="kobby_configure"/>
  </Menu>
</MenuBar>

<Menu name="ktexteditor_popup">
  <Action name="kobby_clear_highlight" group="popup_operations"/>
</Menu>

</gui>
