[Desktop Entry]
Type=Service
Comment=Collaborative editing plugin for KTextEditor, based on the infinity protocol
Comment[bs]=Dodatak za kolaborativno uređivanja KTextEditor-a na temelju protokola beskonačnosti.
Comment[de]=KTextEditor-Modul zur gemeinsamen Textbearbeitung auf der Basis des Infinity-Protokolls
Comment[es]=Complemento de edición colaborativa para KTextEditor, basado en el protocolo infinity
Comment[gl]=Complemento de edición colaborativa para KTextEditor, baseado no protocolo infinity.
Comment[hu]=Együttműködő szerkesztés bővítmény a KTextEditorhoz az infinity protokollon alapulva
Comment[it]=Estensione di modifica collaborativa per KTextEditor, basato sul protocollo Infinity
Comment[nl]=Gezamenlijk bewerken plug-in voor KTextEditor, gebaseerd op het infinity protocol protocol
Comment[pl]=Wtyczka edytowania we współpracy dla KTextEditor, opart na protokole infinity
Comment[pt]='Plugin' de edição colaborativa para o KTextEditor, baseado no protocolo 'infinity'
Comment[pt_BR]=Plugin de edição colaborativa para o KTextEditor baseado no protocolo infinity
Comment[sk]=Plugin na spoločné editovanie pre KTextEditor, založený na protokole infinity
Comment[sv]=Insticksprogram till Ktexteditor för samredigering, baserad på protokollet Infinity
Comment[tr]=Sonsuzluk protokolü tabanlı KTextEditor için ortak düzenleme eklentisi
Comment[uk]=Додаток спільного редагування до KTextEditor, заснований на протоколі infinity
Comment[x-test]=xxCollaborative editing plugin for KTextEditor, based on the infinity protocolxx
Name=Collaborative text editing
Name[bs]=Kolaborativno tekstualno uređivanje
Name[cs]=Souběžná úprava textu
Name[de]=Gemeinsame Textbearbeitung
Name[es]=Edición de texto colaborativa
Name[gl]=Edición de texto colaborativa
Name[hu]=Együttműködő szövegszerkesztés
Name[it]=Modifica del testo collaborativa
Name[nl]=Gezamenlijk tekstbewerken
Name[pl]=Edytowanie tekstu we współpracy
Name[pt]=Edição de texto colaborativa
Name[pt_BR]=Edição de texto colaborativa
Name[sk]=Spoločné editovanie textu
Name[sv]=Samredigering av text
Name[tr]=Ortak metin düzenleme
Name[uk]=Спільне редагування текстів
Name[x-test]=xxCollaborative text editingxx
GenericName=Collaborative text editing
GenericName[bs]=Kolaborativno tekstualno uređivanje
GenericName[cs]=Souběžná úprava textu
GenericName[de]=Gemeinsame Textbearbeitung
GenericName[es]=Edición de texto colaborativa
GenericName[gl]=Edición de texto colaborativa
GenericName[hu]=Együttműködő szövegszerkesztés
GenericName[it]=Modifica del testo collaborativa
GenericName[nl]=Gezamenlijk tekstbewerken
GenericName[pl]=Edytowanie tekstu we współpracy
GenericName[pt]=Edição de texto colaborativa
GenericName[pt_BR]=Edição de texto colaborativa
GenericName[sk]=Spoločné editovanie textu
GenericName[sv]=Samredigering av text
GenericName[tr]=Ortak metin düzenleme
GenericName[uk]=Спільне редагування текстів
GenericName[x-test]=xxCollaborative text editingxx
Icon=document-share
ServiceTypes=KTextEditor/Plugin
X-KDE-ServiceTypes=KTextEditor/Plugin
X-KDE-Library=ktexteditor_collaborative
X-KDE-PluginKeyword=ktexteditor_collaborative
X-KDE-PluginInfo-Name=ktexteditor_collaborative
X-KDE-PluginInfo-Author=Sven Brauch
X-KDE-PluginInfo-Email=svenbrauch@gmail.com
X-KDE-PluginInfo-Website=kate.org
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=GPL_V2
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Category=Editor
X-KDE-ParentApp=kate
X-KDE-Version=4.0
X-KDE-PluginInfo-EnabledByDefault=true
