[Desktop Entry]
Type=Application
Exec=kobby
Icon=meeting-attending.png
Name=Kobby
GenericName=Collaborative Text Editor
Categories=Qt;KDE;Development;IDE;