[Desktop Entry]
Encoding=UTF-8
X-KDE-Library=ktexteditor_kobby
X-KDE-PluginKeyword=ktexteditor_kobby
X-KDE-PluginInfo-Author=Gregory Haynes
X-KDE-PluginInfo-Email=greg@greghaynes.net
X-KDE-PluginInfo-Name=ktexteditorkobby
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://trac.greghaynes.net/kobby
X-KDE-PluginInfo-Category=Editor
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-ParentApp=kate
X-KDE-Version=4.0
ServiceTypes=KTextEditor/Plugin
Type=Service
Icon=
Name=Kobby
Comment=Collaborative Text Editing
